   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand icon-brand fa fa-facebook-square" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search" ng-controller="entireSearchCtrl">
            <div class="form-group">
              <div class="search">
                   <script type="text/ng-template" id="customTemplateGlobal.html">
                    <a>
                      <div class="row">
                      <div class="col-md-3">
                        <img src="images/1.jpg" style="height:40px;width:40px;">
					  </div>
					  <div class="col-md-9">
                           <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
					  </div>
                      </div>
                        <!--<i>({{match.model.name}},{{match.model.type}})</i>-->
                     </a>
	                 </script>
						<input type="text" ng-model="$parent.selectedObj"
							placeholder="Search peoples, places and more"
							typeahead="c as c.name for c in searchedList | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select='openSelectedData(selectedObj)'
							ng-keyup="searchFromEverthing(selectedObj)"
							typeahead-template-url="customTemplateGlobal.html"
							class="form-control"  style="">
						    <span class="fa fa-search"><a href=""></a></span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="UserHome.html"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#" class="fa fa-user"></a></li>
            <li><a href="#" class="fa fa-comments"></a></li>
            <li><a href="#" class="fa fa-bell"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Groups</a></li>
                <li><a href="#">Pages</a></li>
                <li class="divider"></li>
                <li><a href="#">Configuration</a></li>
                <li><a href="logout">Logout</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>