

<div class="col-md-3" id="left_side">     
    <!--<aside class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">About</div>
            <div class="panel-body">
            Panel content
            </div>
        </div>
    </aside>-->
    <div class="row profile">
        <div class="col-md-12">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="images/user/sachin.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Sachin Tendulkar
                    </div>
                    <div class="profile-usertitle-job">
                        All Rounder
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ng-click="changeContentPage('partials/footer.html')"><span class="fa fa-hand-grab-o">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>My Teams</a>
                                        </h4>
                                    </div>                                         
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ng-click="changeContentPage('partials/footer.html')">
                                                <span class="fa fa-users">&nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>Friends </a>
                                        </h4>
                                    </div>                                         
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ng-click="changeContentPage('CareerRecords.html')"><span class="glyphicon glyphicon-folder-close">&nbsp;
                                                </span>My Career Record </a>
                                        </h4>
                                    </div>                                         
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">&nbsp;
                                                </span>Team</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('partials/footer.html');alert('aa')">My Teams</a> <span class="label label-success">$ 320</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('CreateTeam.html')">Create Team</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span  class="fa fa-angellist"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('ViewTeam.html')">View Team</a>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">&nbsp;
                                                </span>Tournament</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('CreateTournament.html')">Create Tournament</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-plane"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('UpcomingTournaments.html')">Upcoming Tournament</a> <span class="label label-info">5</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;<a href="#" >Completed Tournament</a>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="fa fa-user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>Profile</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <span class="fa fa-male"></span>&nbsp;&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('ViewProfile.html')">View Profile</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa fa-pencil-square-o"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('EditProfile.html')">Edit Profile</a>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="fa fa-circle-o">&nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>Ground</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-xbt"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('BookGround.html');alert('aa')">Book Ground</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('AddNewGround.html')">Create a Ground</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-file">&nbsp;
                                                </span>Match</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>                                       
                                                        <span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('RequestMatch.html')">Request Match</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;&nbsp;<a href="#" ng-click="changeContentPage('MatchDetails.html')">Match Details</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-tasks">&nbsp;</span><a href="#" >Completed Matches</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa fa-university">&nbsp;&nbsp;</span><a href="#" >Scheduled Matches</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>                      
    </div>
</div>                    <!-- END MENU -->
