<div class='col-md-6' ng-controller="ballTypeCtrl">
	<form class="form-horizontal" name="groundForm" novalidate=""
		ng-controller="BookGroundCtrl">
		<fieldset>
			<legend>Book a Ground</legend>
			<div class="row">

				<div class="form-group" ng-controller="loadCityArea">					
	
					<script type="text/ng-template" id="customTemplateCity.html">
                    <a>	
                        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>                       
                    </a>
	                 </script>
					<label class="col-md-1 control-label" for="textinput">City</label>
					<div class="col-md-4">
						<input type="text" ng-model="selectedCity"
							placeholder="Search City"
							typeahead="c as c.city for c in cityLists | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select='loadArea(selectedCity)'
							typeahead-template-url="customTemplateCity.html"
							class="form-control"  style="">
						<i class="icon-search nav-search-icon"></i>					
					</div>

					<script type="text/ng-template" id="customTemplateArea.html">
                    <a>	
                        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>                       
                    </a>
	                 </script>
					<label class="col-md-1 control-label" for="textinput">Area</label>
					<div class="col-md-4">
						<input type="text" ng-model="selectedArea"
							placeholder="Search Area"
							typeahead="c as c.area for c in areaLists | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select='$parent.bindGroundDetails(selectedCity,selectedArea)'
							typeahead-template-url="customTemplateArea.html"
							class="form-control"  style="">
						<i class="icon-search nav-search-icon"></i>		
					</div>
				</div>
				
				
			</div>
			<div class="row">
				<div class="form-group">
					<script type="text/ng-template" id="customTemplateGround.html">
                    <a>	
                        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                        <i>({{match.model.area}},{{match.model.city}})</i>
                     </a>
	                 </script>
					<label class="col-md-1 control-label" for="textinput">Ground</label>
		<div class="col-md-4">
						<input type="text" ng-model="selectedGround"
							placeholder="Search Grounds"
							typeahead="c as c.name for c in grounds | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select='$parent.getSlotDetails();'
							typeahead-template-url="customTemplateGround.html"
							
							class="form-control" style="">
						<i class="icon-search nav-search-icon"></i>
					</div>

					<label class="col-md-1 control-label" for="textinput">Date</label>
					<div class="col-md-4">
						<div class="input-group date" data-date-format="dd-mm-yyyy"
							date-picker>
							<input class="form-control" type="text" readonly name="date"
								ng-model="date" /> <span class="input-group-addon"><i
								class="glyphicon glyphicon-calendar"></i></span>								
						</div>
						<span style="color: red"
							ng-show="groundForm.date.$invalid && submitted"> <span
							ng-show="groundForm.date.$error.required && submitted">Date
								is required.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="form-group" ng-controller="viewMyTeamsCtrl">					
					
					<script type="text/ng-template" id="customTemplateTeamA.html">
                    <a>	
                       <div class="row" style="border-bottom:1px blue solid;">
                          <div class="col-md-2">
                            <img src="images/team/team1.jpg" style="height:45px;width:45px">
                          </div>
						  <div class="col-md-10">
                             <div class="col-md-12">
                              <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
							 </div>
							 <div class="col-md-12">
                               <i>({{match.model.city}},{{match.model.area}})</i>
							 </div>   
                          </div>
                        </div>                     
                    </a>
	                 </script>
					<label class="col-md-1 control-label" for="textinput">Team-A</label>
					<div class="col-md-4">					   
						<input type="text" ng-model="$parent.selectedMyTeam"
							placeholder="Select Your Team"
							typeahead="c as c.name for c in myTeamList | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select=''
							typeahead-template-url="customTemplateTeamA.html"
							class="form-control"  style="">
						<i class="icon-search nav-search-icon"></i>					
					</div>					
					
					<script type="text/ng-template" id="customTemplateTeamB.html">
                     <a>	
                       <div class="row">
                          <div class="col-md-2">
                            <img src="images/team/team1.jpg" style="height:45px;width:45px">
                          </div>
						  <div class="col-md-10">
                             <div class="col-md-12">
                              <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
							 </div>
							 <div class="col-md-12">
                               <i>({{match.model.city}},{{match.model.area}})</i>
							 </div>   
                          </div>
                        </div>                     
                    </a>
	                 </script>
					<label class="col-md-1 control-label" for="textinput">Team-B</label>
					<div class="col-md-4">					    
						<input type="text" ng-model="$parent.selectedOpponentTeam"
							placeholder="Select Your Team"
							typeahead="c as c.name for c in opponentTeamList | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select=''
							ng-keyup="searchMyTeams(selectedOpponentTeam)"
							typeahead-template-url="customTemplateTeamB.html"
							class="form-control"  style="">
						<i class="icon-search nav-search-icon"></i>					
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label" for="textinput">Select
						Ball Type</label>
					<div class="col-md-6">
						<div class="col-md-12 center-block">
							<select name='selectBallId' ng-model="selectBallId"
								data-ng-options="a.ballId as a.ballType  for a in ballTypes"
								class="form-control">
								<option value="" ng-selected="selected">Select Ball
									Type</option>
							</select> <span ng-show="groundForm.selectBallId.$error.required">Select
								Ball Type</span>
						</div>
					</div>
					<div class="form-group"
						ng-show="selectBallId == 1 || selectBallId == 2">
						<label class="col-md-4 control-label" for="radios">Pitch
							Type</label>
						<div class="col-md-4">
							<label class="radio-inline" for="radios-0"> <input
								name="radios" id="radios-0" value="1" checked="checked"
								type="radio"> Turf
							</label> <label class="radio-inline" for="radios-1"> <input
								name="radios" id="radios-1" value="2" type="radio"> Mat
							</label>
						</div>
					</div>
					<div class="form-group">						
						<div class="col-md-10">
						    <div class="col-md-4 pull-left">
							 <button ng-click="getSlotDetails()" class="form-control btn-danger">Slots Avalability</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="row">
			<div class="row">
				<h3 style="color: red; font-size: 15px;" ng-show="selectedSlot">Selected
					Slot Is: {{selectedSlot}} {{availableSlots}}</h3>
				<h1 style="color: red; font-size: 18px;">Slots List</h1>
				<form class="form">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-success" style="margin-left: 2px;"
							ng-repeat="slot in availableSlots"
							ng-click="$parent.selectedSlot=slot"> <input name="year"
							value="2011" type="radio">{{slot.slotStartTime}}-{{slot.slotEndTime}}
						</label>
					</div>
				</form>
			</div>

			<div class="row" style="padding-top: 15px;">
				<div class="form-group">
					<label class="col-md-4 control-label" for="singlebutton"></label>
					<div class="col-md-4 center-block">
						<button id="singlebutton" name="singlebutton"
							class="btn btn-primary center-block" ng-click="postBookGround();">
							Book Ground</button>
							<br><br>
					</div>
				</div>
			</div>
	</form>
</div>