<div class="col-md-6">
    <fieldset>
        <legend align='middle'> Career Records</legend>
        <div class="row">		
            <h4>Batting careers</h4>		

        </div>
        <div class="table-responsive">          
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td align='center' title="Ball Type">
                            BT
                        </td>
                        <td align='center'>
                            Matches
                        </td>
                        <td align='center'>
                            Innings
                        </td >
                        <td align='center'>
                            Not Out
                        </td >
                        <td align='center'>
                            Runs
                        </td>
                        <td align='center'title="Ball Faced">
                            BF
                        </td>
                        <td align='center'>
                            Average
                        </td>
                        <td align='center' title="Strike Rate">
                            SR
                        </td>
                        <td align='center'>
                            100's
                        </td>
                        <td align='center'>
                            50's
                        </td>
                        <td align='center'>
                            6's
                        </td>
                        <td align='center'>
                            4's
                        </td>
                        <td align='center' title="HighestScore">
                            HS
                        </td>
                    </tr>
                </thead>      
                <tbody ng-controller="battingCareerCtrl">
                    <tr ng-repeat="bc in battingCareers">
                        <td align='center'>
                            {{bc.ballType}}
                        </td>
                        <td align='center'>
                            {{bc.matches}}
                        </td>
                        <td align='center'>
                            {{bc.innings}}
                        </td>
                        <td align='center'>
                            {{bc.notOut}}
                        </td>
                        <td align='center'>
                            {{bc.runs}}
                        </td>
                        <td align='center'>
                            {{bc.bf}}
                        </td>
                        <td align='center'>
                            {{bc.average}}
                        </td>
                        <td align='center'>
                            {{bc.strikeRate}}
                        </td>
                        <td align='center'>
                            {{bc.s100}}
                        </td>
                        <td align='center'>
                            {{bc.s50}}
                        </td>
                        <td align='center'>
                            {{bc.s6}}
                        </td>
                        <td align='center'>
                            {{bc.s4}}
                        </td>
                        <td align='center'>
                            {{bc.hs}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset> 
    <div class="row">
        <h4>Bowling careers</h4>
    </div>       
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th align='center' title="Ball Type">
                        BT
                    </th>
                    <th align='center'>
                        Matches
                    </th>
                    <th align='center'>
                        Innings
                    </th >
                    <th align='center'>
                        Balls
                    </th>
                    <th align='center'>
                        Runs
                    </th>
                    <th align='center'>
                        Wickets
                    </th>
                    <th align='center'>
                        Average
                    </th>
                    <th align='center'>
                        Economy
                    </th>
                    <th align='center' title="   Strike Rate">
                     SR
                    </th>
                    <th align='center'>
                        Wickets
                    </th>
                </tr>
            </thead>
            <tbody ng-controller="bowlingCareerCtrl">
                <tr ng-repeat="bc in bowlingCareers">
                    <td align='center'>
                        {{bc.ballType}}
                    </td>
                    <td align='center'>
                        {{bc.matches}}
                    </td>
                    <td align='center'>
                        {{bc.innings}}
                    </td>
                    <td align='center'>
                        {{bc.balls}}
                    </td>
                    <td align='center'>
                        {{bc.runs}}
                    </td>
                    <td align='center'>
                        {{bc.wickets}}
                    </td>
                    <td align='center'>
                        {{bc.bf}}
                    </td>
                    <td align='center'>
                        {{bc.average}}
                    </td>
                    <td align='center'>
                        {{bc.economy}}
                    </td>
                    <td align='center'>
                        {{bc.strikeRate}}
                    </td>
                    <td align='center'>
                        {{bc.wickets}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
