<div class="col-md-6">
    <fieldset ng-controller="viewTeamsCtrl">
        <legend>My Teams</legend>
        <div ng-show="false">
            {{allTeams|json}}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-repeat="team in allTeams" style="margin-top:5px" ng-show="allTeams.length > 1">
                <div class="col-sm-4">
                    <a href="#detail_team_view/{{team.id}}">
                        <img src="{{team.imageUrl}}" class="pull-left img-box" alt="Virendra Sehwag" width="100%" height="75">
                    </a>
                </div>
                <div class="col-sm-8">
                    Team Name:<a href="#detail_team_view/{{team.id}}">{{team.teamName}}</a><br>
                    <span class="uneditable-input">
                        Captain Name: <a href=""> {{team.captainName}}</a></span><br>
                    <span class="uneditable-input">City: {{team.city}}</span> <br>
                    <span class="uneditable-input">Area: {{team.area}}</span>
                </div>
            </div>  

            
            
            <div  ng-repeat="myTeam in allTeams" ng-show="allTeams.length == 1" >
            <div class="row" style='background-color:#11C1F3;'>
                <div class="col-md-5"> 
                    <div class='row slide'>
                        <div class="col-sm-12">
                            <img src="{{myTeam.imageUrl}}" class="img  center-block" alt="Virendra Sehwag" width="140" height="95" style="margin-top:20px;">	
                        </div>
                    </div>
                    <div class='row slide'>
                        <div class="col-sm-8" style='margin-top:15px;margin-left:55px;'>
                            Name:<a href="">{{myTeam.teamName}}</a><br>                   
                            <span class="uneditable-input">Role: {{myTeam.role}}</span><br>
                            <span class="uneditable-input">Average: {{myTeam.average}}</span> <br>
                            <span class="uneditable-input">Strike Rate: {{myTeam.strikeRate}}</span><br>
                            <span class="uneditable-input">Captain Rate: {{myTeam.captainName}}</span>
                        </div>
                    </div>	
                </div>
                <div class="col-sm-7"> 
                    <img src="images/top.jpg" width="100%" height="223" border="0" alt=""/>
                </div>
            </div>
                <div ng-show="false">
                    {{myTeam.userList | json}}
                </div>
            <div class="row">
                <div class="col-md-6" ng-repeat="tm in myTeam.userList" style="margin-top: 5px;">
                    <div class="col-md-12"  style="border: 1px solid #000000;background-color:#11C1F3;color:#FFFFFF;">
                        <div class='row slide' style="padding:5px;">
                            <div class="col-md-4" class="img-responsive">
                                <a href="#user_profile/{{tm.userId}}">                                
                                    <img src="{{tm.userImageUrl}}" class="img img-thumbnail" alt="Virendra Sehwag" style="height:80px;">	
                                </a>
                            </div>                
                            <div class="col-md-8">
                                Name:<a href="#user_profile/{{tm.userId}}">{{tm.name}}</a><br>
                                <span class="uneditable-input">Role: {{tm.role}}</span><br>                    
                                <span class="uneditable-input">Average: {{tm.average}}</span> <br>
                                <span class="uneditable-input">Strike Rate: {{tm.strikeRate}}</span>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>          
        </div>       
    </fieldset>
</div>
