<div class="col-md-6">
    <h4>Tornament</h4>
    <div class="row" style='background-color:#ffffff;'>
        <div class="col-sm-5" > 
            <img src="images/1.jpg" width="100%" height="320" style='margin-left:0;' border="0" alt="">
        </div>
        <div class="table-responsive">          
            <table class="table">

                <tr>
                    <td align='justify'>
                        Tournament Name
                    </td>
                    <td align='justify'>
                        CBPL
                    </td>
                </tr>
                <tr>
                    <td align='justify'>
                        Organized By
                    </td >
                    <td align='justify'>
                        Cric Bounz
                    </td >
                </tr>
                <tr>
                    <td align='justify'>
                        Date
                    </td>
                    <td align='justify'>
                        1/6/2016 to 30/6/2016
                    </td>
                </tr>
                <tr>
                    <td align='justify'>
                        City
                    </td>
                    <td align='justify'>
                        Chennai
                    </td>
                </tr>
                <tr>
                    <td align='justify'>
                        Prize
                    </td>
                    <td align='justify'>
                        Rs. One Lakhs
                    </td>
                </tr>
                <tr>
                    <td align='justify'>
                        Winner
                    </td>
                    <td align='justify'>
                        <a href="">Unpredictable Guy's</a>
                    </td>
                </tr>
                <tr>
                    <td align='justify'>
                        Man of the Series
                    </td>
                    <td align='justify'>
                        <a href="">Murugan</a>
                    </td>
                </tr> 
                <tr>
                    <td align='justify'>
                        Batsman of the Series
                    </td>
                    <td align='justify'>
                        <a href="">Raja</a>
                    </td>
                </tr>
                <tr>
                    <td align='justify'>
                        Bowler of the Series
                    </td>
                    <td align='justify'>
                        <a href="">Joshi</a>
                    </td>
                </tr>   
            </table>
        </div>
    </div>




    <div class="panel with-nav-tabs panel-primary" style='margin-top:15px;'>
        <div class="panel-heading" style='border-color:#337ab7;background-color:#ffffff;'>
            <ul class="nav nav-tabs navmen">
                <li class="active"><a href="#tab1primary" data-toggle="tab">Team List</a></li>
                <li><a href="#tab2primary" data-toggle="tab">Fixtures</a></li>
                <li><a href="#tab3primary" data-toggle="tab">Points Table</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content" id="team">
                <div class="tab-pane fade in active" id="tab1primary">
                    <div class="table-responsive">          
                        <table class="table">
                            <thead style='background-color:#66a9bc;font-weight:bold;'>
                                <tr>
                                    <td>
                                        Team Name   
                                    </td>   
                                    <td>
                                        Area
                                    </td>
                                    <td>
                                        Captain Name
                                    </td>
                                </tr>   
                            </thead>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    <a href="">	Unpredictable Guy's</a>
                                </td>
                                <td align='justify'>
                                    Medavakkam
                                </td>
                                <td align='justify'>
                                    <a href="">	Pital</a>
                                </td>
                            </tr>
                            <tr >
                                <td align='justify'>
                                    <a href="">Kings XI Punjab</a>
                                </td>
                                <td align='justify'>
                                    Punjab
                                </td>
                                <td align='justify'>
                                    <a href="">George Bailey</a>
                                </td>
                            </tr>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    <a href="">	Mumbai Indians </a>
                                </td>
                                <td align='justify'>
                                    Mumbai
                                </td>
                                <td align='justify'>
                                    <a href="">Rohit Sharma</a>
                                </td>
                            </tr>
                            <tr >
                                <td align='justify'>
                                    <a href="">Kolkata Knight Riders</a>
                                </td>
                                <td align='justify'>
                                    Kolkata
                                </td>
                                <td align='justify'>
                                    <a href="">Gautam Gambhir</a>
                                </td>
                            </tr>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    <a href="">CSK</a>
                                </td>
                                <td align='justify'>
                                    Chennai
                                </td>
                                <td align='justify'>
                                    <a href="">Dhoni</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2primary">
                    <div class="table-responsive">          
                        <table class="table">
                            <thead style='background-color:#66a9bc;font-weight:bold;'>
                                <tr>
                                    <td>
                                        Date & Time   
                                    </td>   
                                    <td align='center'>
                                        Match
                                    </td>
                                    <td align='center'>
                                        Result
                                    </td>
                                    <td align='center'>
                                        View Score
                                    </td>
                                </tr>   
                            </thead>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    March 3 (15 Overs)<br>
                                    9 AM
                                </td>
                                <td align='justify'>
                                    Unpredictable Guy's Vs CSK
                                </td>
                                <td align='justify'>
                                    Unpredictable Guy's won by 9 Wickets
                                </td>
                                <td align='justify'>
                                    <button class="btn btn-primary center-block" ng-click="changeContentPage('ScoreDetails.html')">
                                        Score Card
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td align='justify'>
                                    March 3 (15 Overs)<br>
                                    2 PM
                                </td>
                                <td align='justify'>
                                    Kings XI Punjab Vs Kolkata Kighnt Riders
                                </td>
                                <td align='justify'>
                                    Kings XI Punjab won by 46 Runs
                                </td>
                                <td align='justify'>
                                    <button class="btn btn-primary center-block"  ng-click="changeContentPage('ScoreDetails.html')">
                                        Score Card
                                    </button>
                                </td>
                            </tr>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    March 5 (15 Overs)<br>
                                    11 AM
                                </td>
                                <td align='justify'>
                                    CSK Vs Mumbai Indians
                                </td>
                                <td align='justify'>
                                    Mumbai Indians won by 75 Runs
                                </td>
                                <td align='justify'>
                                    <button class="btn btn-primary center-block">
                                        Score Card
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td align='justify'>
                                    March 7 (15 Overs)<br>
                                    9 AM
                                </td>
                                <td align='justify'>
                                    Unpredictable Guy's Vs CSK
                                </td>
                                <td align='justify'>
                                    Unpredictable Guy's won by 128 runs
                                </td>
                                <td align='justify'>
                                    <button class="btn btn-primary center-block"  ng-click="changeContentPage('ScoreDetails.html')">
                                        Score Card
                                    </button>
                                </td>
                            </tr>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    March 9 (15 Overs)<br>
                                    9 AM
                                </td>
                                <td align='justify'>
                                    Unpredictable Guy's Vs Mumbai Indians
                                </td>
                                <td align='justify'>
                                    Yet to be Start
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3primary">
                    <div class="table-responsive">          
                        <table class="table">
                            <thead style='background-color:#66a9bc;font-weight:bold;'>
                                <tr>
                                    <td align='center'>
                                        Teams   
                                    </td>   
                                    <td align='center'>
                                        Matchs
                                    </td>
                                    <td align='center'>
                                        Won
                                    </td>
                                    <td align='center'>
                                        Lost
                                    </td>
                                    <td align='center'>
                                        Tied
                                    </td>
                                    <td align='center'>
                                        N/R
                                    </td>
                                    <td align='center'>
                                        Points
                                    </td>
                                </tr>   
                            </thead>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    <a href="">    Unpredictable Guy's</a>
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    8
                                </td>
                            </tr>
                            <tr>
                                <td align='justify'>
                                    <a href="">  Kings XI Punjab</a>
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    3
                                </td>
                                <td align='center'>
                                    1
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    6
                                </td>
                            </tr>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    <a href="">  Mumbai Indians</a>
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    2
                                </td>
                                <td align='center'>
                                    2
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    4
                                </td>
                            </tr>
                            <tr>
                                <td align='justify'>
                                    <a href=""> Kolkata Kighnt Riders</a>
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    1
                                </td>
                                <td align='center'>
                                    3
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    2
                                </td>
                            </tr>
                            <tr style='background-color:#b1e5fd;'>
                                <td align='justify'>
                                    <a href="">    CSK</a>
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    4
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                                <td align='center'>
                                    0
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--	<div class="tab-pane fade" id="tab4primary">
hihihhi
                        </div>-->

            </div>
        </div>
    </div>
</div>
</div>